{% extends 'base.html.twig' %}
{% block body %}
    <div class="recipe">
        <div class="container">
            {% for recipe in recipes %}
                {{ include("RecipeBundle:default:element/recipeelem.html.twig", {'recipe': recipe}) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}